*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.Container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container_FacePicture{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: 50px;
}

.Container_Content_Welcome{
    margin-left: 50px;
    font-size: 30px;
}