* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container_Content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.Container_Cober {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 400px;
  background: url(Images/gif_Top_Tecnology.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Container_Cober_Contrast{
    display: flex;
    align-items: center;
    background: #0084ff30;
    height: 400px;
    width: 900px;
}

.Container_Cober_Contrast_IMGContainer{
  display: flex;
  align-items: center;
  margin: 20px;
}

.Container_Content_Welcome h2{
  margin-bottom: 10px;
}

.Container_Content_Welcome p{
  margin-top: 10px;
}

.Welcome{
  color: #ffffff;
  font-size: 45px;
}

.Container_Cober_FacePicture {
  height: 350px;
  width: 350px;
  border-radius: 100%;
}

.Container_Content_Welcome {
  margin-left: 50px;
  font-size: 30px;
}
